<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataSources" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<dataSources>
		<add key="_Default" value="connectionType=oracle;user id=gdduser;data source=oradb;password=gdduser;" />
		<add key="SqlServer" value="connectionType=sqlserver;server=PHOENIX;database=AnimalExamination;uid=sa;pwd=;" />
		<add key="Oracle" value="connectionType=oracle;user id=drpuser;data source=oradb;password=drpuser;" />
		<add key="OleDb" value="connectionType=oledb;Provider=Microsoft.Jet.OLEDB.4.0;Data Source=mydb.mdb;User Id=admin;Password=;" />
		<add key="DocIndex" value="connectionType=oledb;Provider=MSIDXS.1;Integrated Security .='';Data Source=DocCatalog;" />
    <add key="POOL_SIZE" value="20" />
	</dataSources>
</configuration>