<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tiger.PdrCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
<connectionStrings>
    <add name="Tiger.PdrCommon.Properties.Settings.WangDaDBConnectionString" connectionString="Data Source=JINMINGPC\SQLEXPRESS;Initial Catalog=WangDaDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BaseSerSoap" />
                <binding name="BasicServiceSoap" />
                <binding name="ConfigSoap" />
                <binding name="UserSerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2857/BaseSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="BaseSerSoap" contract="BaseSerReference.BaseSerSoap"
                name="BaseSerSoap" />
            <endpoint address="http://localhost:2857/BasicService.asmx" binding="basicHttpBinding"
                bindingConfiguration="BasicServiceSoap" contract="BasicServiceReference.BasicServiceSoap"
                name="BasicServiceSoap" />
            <endpoint address="http://localhost:2857/Config.asmx" binding="basicHttpBinding"
                bindingConfiguration="ConfigSoap" contract="ConfigReference.ConfigSoap"
                name="ConfigSoap" />
            <endpoint address="http://localhost:2857/UserSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="UserSerSoap" contract="UserSerReference.UserSerSoap"
                name="UserSerSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Tiger.PdrCommon.Properties.Settings>
            <setting name="Tiger_PdrCommon_BasicService_BasicService1" serializeAs="String">
                <value>http://localhost:2189/Tiger.PdrService/PdrCommon/BasicService.asmx</value>
            </setting>
            <setting name="Tiger_PdrCommon_UserSer_UserSer1" serializeAs="String">
                <value>http://localhost:2189/Tiger.PdrService/Cutler/UserSer.asmx</value>
            </setting>
        </Tiger.PdrCommon.Properties.Settings>
    </applicationSettings>
</configuration>
