<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>

   
<connectionStrings>
    <add name="Tiger.ConfigApp.Properties.Settings.Tiger_COMMONConnectionString"
        connectionString="Data Source=10.1.2.200;Initial Catalog=Tiger_COMMON;User ID=sa;Password=123"
        providerName="System.Data.SqlClient" />
    <add name="Tiger.ConfigApp.Properties.Settings.Tiger_COMMONConnectionString1"
        connectionString="Data Source=.;Initial Catalog=Tiger_COMMON;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Tiger.ConfigApp.Properties.Settings.HyExpConnectionString"
        connectionString="Data Source=.;Initial Catalog=HyExp;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Tiger.ConfigApp.Properties.Settings.HyExpConnectionString1"
        connectionString="Data Source=.;Initial Catalog=HyExp;Persist Security Info=True;User ID=sa;Password=1qaz2wsx;MultipleActiveResultSets=True;Application Name=EntityFramework"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BaseSerSoap" />
                <binding name="BasicServiceSoap" />
                <binding name="ConfigSoap" />
                <binding name="UserSerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2849/BaseSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="BaseSerSoap" contract="BaseSerReference.BaseSerSoap"
                name="BaseSerSoap" />
            <endpoint address="http://localhost:2849/BasicService.asmx" binding="basicHttpBinding"
                bindingConfiguration="BasicServiceSoap" contract="BasicServiceReference.BasicServiceSoap"
                name="BasicServiceSoap" />
            <endpoint address="http://localhost:2849/Config.asmx" binding="basicHttpBinding"
                bindingConfiguration="ConfigSoap" contract="ConfigReference.ConfigSoap"
                name="ConfigSoap" />
            <endpoint address="http://localhost:2849/UserSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="UserSerSoap" contract="UserSerReference.UserSerSoap"
                name="UserSerSoap" />
        </client>
    </system.serviceModel>
</configuration>
