<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings />
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BaseSerSoap" />
                <binding name="UserSerSoap" />
                <binding name="WangDaSerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2857/UserSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="UserSerSoap" contract="UserSerReference.UserSerSoap"
                name="UserSerSoap" />
            <endpoint address="http://localhost:2857/BaseSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="BaseSerSoap" contract="BaseSerReference.BaseSerSoap"
                name="BaseSerSoap" />
            <endpoint address="http://localhost:2857/WangDaSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="WangDaSerSoap" contract="WangDaReference.WangDaSerSoap"
                name="WangDaSerSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
