<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <section name="dataSources" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="WDCWDataConnectionString" connectionString="Data Source=DESKTOP-JTRCTPU;Initial Catalog=WangDaDB;User ID=sa;Password=1qaz2wsx" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataSources>
    <add key="_Default" value="connectionType=sqlserver;Data Source=DESKTOP-JTRCTPU;Initial Catalog=WangDaDB;User ID=sa;Password=1qaz2wsx"/>
    <add key="FileDB" value="connectionType=sqlserver;Data Source=DESKTOP-JTRCTPU;Initial Catalog=WangDaFile;User ID=sa;Password=1qaz2wsx"/>
    <add key="Oracle" value="connectionType=oracle;user id=drpuser;data source=oradb;password=drpuser;"/>
    <add key="OleDb" value="connectionType=oledb;Provider=Microsoft.Jet.OLEDB.4.0;Data Source=mydb.mdb;User Id=admin;Password=;"/>
    <add key="DocIndex" value="connectionType=oledb;Provider=MSIDXS.1;Integrated Security .='';Data Source=DocCatalog;"/>
  </dataSources>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>