<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BaseSerSoap" />
                <binding name="BaseSerSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://win-onuj1v8ac54/BaseSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="BaseSerSoap" contract="BaseSerReference.BaseSerSoap"
                name="BaseSerSoap" />
            <endpoint address="http://localhost:2857/BaseSer.asmx" binding="basicHttpBinding"
                bindingConfiguration="BaseSerSoap1" contract="BaseSer.BaseSerSoap"
                name="BaseSerSoap1" />
        </client>
    </system.serviceModel>
</configuration>
